CompileFlags:
  CompilationDatabase: build
  Compiler: g++
  Add: 
    - -std=c++23
    - -stdlib=libstdc++
    - -I/workspaces/metalldata/include

Diagnostics:
  Suppress: [ovl_no_viable_function_in_init]
  UnusedIncludes: None