# This version contains a workaround for the Boost.Unordered file missing issue.
# Specifically, we download boost manually and include the path to $CMAKE_PREFIX_PATH
# so that cmake can find Boost.Unordered header files.
name: CI Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CC: gcc-13
      CXX: g++-13
    steps:
      - uses: actions/checkout@v3
      - name: Install OpenMPI
        run: sudo apt-get install openmpi-bin libopenmpi-dev
      - name: Build and test
        run: |
          pushd /dev/shm
          wget -q https://archives.boost.io/release/1.87.0/source/boost_1_87_0.tar.bz2
          mkdir boost
          tar xf boost_1_87_0.tar.bz2 -C boost --strip-components 1
          export CPLUS_INCLUDE_PATH="${PWD}/boost"
          popd
          cd $GITHUB_WORKSPACE
          mkdir build
          cd build
          cmake ../ -DMETALLDATA_BUILD_TESTS=ON
          make -j6
          make test
          # removed 20250814 sbromberger
          #cd ../tests
          # export OMPI_MCA_rmaps_base_oversubscribe=1
          # bash run_test.sh
      - name: end-to-end testing
        run: |
          cd $GITHUB_WORKSPACE/build
          python -m venv venv
          source venv/bin/activate
          pip install -r $GITHUB_WORKSPACE/test/requirements.txt -r $GITHUB_WORKSPACE/test/requirements-dev.txt
          cd $GITHUB_WORKSPACE/test/clippy
          CLIPPY_BACKEND_PATH=$GITHUB_WORKSPACE/build/src/clippy pytest
